<html>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding form-container">
  <ion-item>
    <ion-input
      [(ngModel)]="username"
      placeholder="Usuario"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="password"
      type="password"
      placeholder="Contraseña"
    ></ion-input>
  </ion-item>

  <ion-button
    expand="full"
    (click)="login()"
  >
    Ingresar
  </ion-button>
  
  <ion-button
    expand="full"
    fill="clear"
    color="primary"
    (click)="goToRegister()"
  >
    ¿No tienes una cuenta? Registrar
  </ion-button>

</ion-content>
</html>