<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="facebook-background">
  <div class="login-container">
    <ion-card class="login-box">
      <ion-card-content>
        <ion-item class="input-item">
          <ion-input
            [(ngModel)]="username"
            placeholder="Correo electrónico"
          />
        </ion-item>

        <ion-item class="input-item">
          <ion-input
            [(ngModel)]="password"
            type="password"
            placeholder="Contraseña"
          />
        </ion-item>

        <ion-button expand="full" color="primary" class="login-button" (click)="login()">
          Iniciar sesión
        </ion-button>

        <!--<p class="forgot-password-link">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </p>-->

        <div class="divider"></div>

        <div class="create-account-button-wrapper">
          <ion-button
            expand="block"
            _color="success"
            class="create-account-button"
            (click)="goToRegister()"
          >
            Crear cuenta nueva
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>