<ion-header>
  <ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding auth-content">
  
  <div class="form-wrapper">
    
    <div class="auth-header">
      <ion-icon name="checkbox-outline" class="app-logo"></ion-icon>
      <h1>Task Manager</h1>
      <h2>Inicia Sesión</h2>
    </div>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      
      <ion-item>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input 
          label="Usuario" 
          labelPlacement="floating" 
          type="text" 
          name="username" 
          [(ngModel)]="username" 
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input 
          label="Contraseña" 
          labelPlacement="floating" 
          type="password" 
          name="password" 
          [(ngModel)]="password" 
          required>
        </ion-input>
      </ion-item>

      <div class="ion-padding-top">
        <ion-button 
          expand="block" 
          type="submit" 
          [disabled]="loginForm.invalid || isLoading"
          color="primary">
          <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
          <span *ngIf="!isLoading">Entrar</span>
        </ion-button>
      </div>
      
    </form>

    <div class="ion-padding-top ion-text-center">
      <ion-button fill="clear" (click)="goToRegister()" color="medium">
        ¿No tienes cuenta? Regístrate aquí
      </ion-button>
    </div>

  </div>
</ion-content>