<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="center-content">
    <ion-row class="ion-justify-content-center">
      
      <ion-col size-xs="12" size-md="4" class="auth-form-column">
        
        <div>
          <ion-item class="ion-no-padding">
            <ion-input [(ngModel)]="username" placeholder="Usuario" />
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-input
              [(ngModel)]="password"
              type="password"
              placeholder="Contraseña"
            />
          </ion-item>
          
          <ion-button size="large" expand="full" (click)="register()"> 
            Registrar 
          </ion-button>
          
          <ion-button
            expand="full"
            fill="clear"
            color="primary"
            (click)="goToLogin()"
          >
            ¿Ya tienes una cuenta? Iniciar sesión
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>